.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/login/bg.png);
  background-size: 100% 100%;
}
.login-form-container {
  position: absolute;
  top: 16.667%;
  right: 14.0625%;
  width: 420px;
  height: 430px;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}
.login-form-container .login-form-header {
  position: relative;
  padding: 20px 0 0 20px;
  width: 100%;
  height: 85px;
}
.login-form-container .login-form-header .qr-login {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.login-form-container .login-form-header .qr-login .normal-login-icon {
  display: none;
}
.login-form-container .login-form-header .qr-login-tip {
  position: absolute;
  top: 28px;
  right: 45px;
  z-index: 2;
}
.login-form-container .login-form-header .normal-login-tip {
  display: none;
}
.login-form-container .login-form-main {
  padding: 20px 24px;
  width: 100%;
}

/* form */
.login-form-container .login-form-main .login-form-item {
  position: relative;
  margin-bottom: 38px;
}
.login-form-container .login-form-main .login-form-item input {
  padding: 0 14px; 
  width: 100%;
  height: 42px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: inset -2px 2px 2px #ededed;
  color: #b3b3b3;
}
.login-form-container .login-form-main .login-form-item .error-tip {
  display: none;
  position: absolute;
  top: 43px;
  color: #ff5a5a;
  font-size: 14px;
}
.login-form-container .login-form-main .login-form-btn {
  width: 100%;
  height: 44px;
  background-color: #456fe7;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* qrcode */
.login-form-container .login-form-main .qrcode {
  display: none;
  margin: 0 auto;
  text-align: center;
}
.login-form-container .login-form-main .qrcode img {
  width: 164px;
  height: 164px;
}
.login-form-container .login-form-main .qrcode .tip {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 16px;
}

.login-form-container .login-form-footer {
  padding: 0 24px;
  width: 100%;
  height: 96px;
  line-height: 96px;
  font-size: 14px;
}
.login-form-container .login-form-footer > span.left {
  float: left;
}
.login-form-container .login-form-footer > span.left a {
  color: #ff5a5a;
}
.login-form-container .login-form-footer > span.right {
  float: right;
}
.login-form-container .login-form-footer > span.right a {
  color: #000000;
}